.flashcards-container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    /* height: 100%; */
}

.master-detail-element {
    margin-bottom: 2em;
}

.sidebar {
    grid-column: 1;
    font-size: 24px;
    padding: 2em 1em 2em 1em;
    border-right: 2px solid ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-button {
    padding: 1em 0 1em 0;
    background-color: rgb(53, 36, 15);
    color: moccasin;
    font-size: 24px;
}

.detail {
    grid-column: 2;
}

.button {
    padding: 0 2em 0 2em;
    float:right;
    margin: 1em 2em 1em 0;
}

.flashcard {
    padding: 2em;
    padding-bottom: 3em;
    margin: 1.5em;
    font-size: 16px;
    background-color: brown;
    color: cornsilk;
}

.form-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content:space-between;
    padding: 4em 0 4em 4em;
    background-color: darkkhaki;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bolder;
}

.inputbox {
   margin-top: 1em;
   margin-bottom: 1em;
   display: flex;
   flex-direction: column;
}